@import url(../assets/base.css);


.scrapbook-print > .switch
{

    margin-left: 100px;
    display: none;
}

.scrapbook-print
{
    display: flex;
    align-items: center;
    justify-content: center;
    height:180mm;
    
    border-style:dotted;
    background-color: var(--cool-grey);
}

.scrapbook-print > .scrapbook-bg
{
    border-radius: 50px;
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color:var(--light-grey);
    z-index: 0;
}

.draggable
{
    background-size: 100% 100%;
    position: absolute;
    padding: 100px;
    background-color: green;
    background-image: url();
    width:100px;
    height:40px;
    /* don'd add margin to this or it won't work */
}
.to-drag-example
{
    background-image: url(../assets/photos-g9761b2a74_1920.jpg);
    /* don'd add margin to this or it won't work */
}

@page 
{
    size: A4 landscape;
    margin: 0;
}

/* A4 size landscape */
@media print 
{
    html,body
    {
        width: 297mm;
        height: 180mm;
    }
}