@import url(../assets/base.css);

@page
{
    size: A4 landscape;
    margin: 0;
}

/* A4 size landscape */
@media print 
{
    html, body .scrapbook
    {
        width: 297mm;
        height: 210mm;
        margin:0;
    }
}

/* Print background images and colours */
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}
.switches
{
    height: 5%;
}
.switches > *
{
    /* margin-left: 100px; */
    display: none;
}

.scrapbook
{
    display: flexbox;
    align-items: center;
    justify-content: center;
    height:210mm; /*purposely < 210mm */
    width: 297mm;
    border-style:dotted;
    background-color: var(--cool-grey);
    z-index: 1;
}

.scrapbook > .scrapbook-bg
{
    border-radius: 50px;
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color:var(--light-grey);
    z-index: 2;
}

.draggable
{
    background-size: 100% 100%;
    position: relative;
    /* background-color: green; */
    background-image: url();
    width:100px;
    height:100px;
    z-index: 3;
    /* IMPORTANT 
    this may work in the future but no attr only works for content property
    will save all the additional code in the printScrapbook function of the upload-form.ts script
     */
    /* left:attr(data-scrapbook-x px); */
    /* top:attr(data-scrapbook-y px); */
    position:absolute;
    /* don't add margin to this or it won't work */
}

