@import url(../assets/base.css);
.canvas_image 
{
    width: 100%;
    height: 100%;
    z-index: 5;
}

body 
{
    background-image: url(../assets/photos-g9761b2a74_1920.jpg);
    background-repeat: no-repeat;
    /* fixed - creates cool effect while scrolling */
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

.grid-container
{
    display: grid;
    grid-template-columns: [form] 3fr [scrapbook] 7fr;
    grid-template-rows: [main]10fr [footer]2fr;
    height: 100vh;
}

.column-1
{
    grid-column: form;
}

.column-2
{
    grid-column: scrapbook;
}

.row-1
{
    grid-row: main;
}

.row-2
{
    grid-row: footer;
}

.switch
{
    margin-left: 100px;
}

.grid-container > .scrapbook
{
    /* width: 500px; */
    border-style:dotted;
    background-color: var(--cool-grey);
}

.grid-container > .scrapbook > .scrapbook-bg
{
    border-radius: 50px;
    height: 90%;
    width: 90%;
    margin: auto;
    background-color:var(--light-grey);
    z-index: 0;
}
.draggable
{
    background-size: 100% 100%;
    position: absolute;
    padding: 100px;
    background-color: green;
    background-image: url();
    width:100px;
    height:40px;
    /* don'd add margin to this or it won't work */
}
.to-drag-example
{
    background-image: url(../assets/photos-g9761b2a74_1920.jpg);
    /* don'd add margin to this or it won't work */
}